__pycache__
*.pyc
codecave.bin
wanderers.xml
translated.xml
wanderers_secret.json
.DS_Store
Ys III - Wanderers from Ys (Japan).bin
Ys III - Wanderers from Ys (Japan).cue
Ys III - Wanderers from Ys \[English Patched\].*
DATA.txt
extracted/
/DATA/
translated/
decompiled/
/csv/
/font/
graphics/orig
